*.class
*.py[cod]
*.log
*.jar
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.db
*.map
*.bat
.log
.idea/
.vscode/
.sass-cache/
.idea/
.sass-cache/
node_modules/
dist/
target/
dist/
tmp/
node_modules/
teszt/
public/uploads
/cache/*
/log/*
storage/app/public/*
storage/image-engine/*
storage/log/*
teszt/*
bin/*
TEST*.xml
.DS_Store
.env
Thumbs.db
/package-lock.json
db.mwb.bak
bootstrap-demo.php
bootstrap-page.php
languages/*backup*
assets/css/theme.css
assets/scss/theme.css
assets/css/theme.css_
assets/css/bootstrap
src/classes/Vendor/
src/vendor/
src/pamut_functions.php
src/client/components.d.ts
assets/js/*
assets/css/*
assets/images/intl-tel-input/*
!assets/css/editor.css
!assets/css/select-country.css
!assets/css/intl-tel-input.min.css
!assets/css/admin-menu.css
